:root {
  --color-white: hsl(0, 0%, 100%);
  --color-blue-theme: hsl(194, 66%, 61%);
  --color-darkblue-theme: hsl(194, 66%, 40%);
  --color-cancel-button: hsl(0, 61%, 61%);
  --color-cancel-button-active: hsl(0, 61%, 40%);
}

body {
  margin: 0;
}

.invalid-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  min-height: 100px;
  width: 150px;
}
.description {
  text-align: center;
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-blue-theme);
  box-shadow: 0px 2px 2px #e2e2e2;
}

.tab {
  box-sizing: border-box;
  height: 2rem;
  flex: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab.selected {
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
  border-bottom: 2px solid var(--color-blue-theme);
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 8px;
}

.input-block {
  margin: 10px 0;
}

.checkbox-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox-input {
  margin: 2px 0;
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
}

.btn {
  min-width: 100px;
  min-height: 45px;
  border-radius: 5px;
  border: outset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn #spiner {
  display: block;
}

#btn-record {
  color: var(--color-white);
  background-color: var(--color-blue-theme);
}

#btn-record.btn-record-on-process{
  background-color: var(--color-darkblue-theme);
}

#btn-cancel {
  color: var(--color-white);
  background-color: var(--color-cancel-button);
}
#btn-cancel.btn-cancel-on-process {
  background-color: var(--color-cancel-button-active);
}

.btn-wrapper {
  margin-top: 15px;
}
.error {
  color: red;
  margin: 0;
}
.err-des {
  margin: 0;
}
#error-area {
  margin-top: 20px;
}
.spinner {
  width: 30px;
  height: 30px;
}
.hide {
  display: none;
}
.red-border {
  border-color: red;
}
#btn-record .label {
  text-transform: capitalize;
}