:root {
  --color-white: hsl(0, 0%, 100%);
  --color-btn: hsl(194, 66%, 61%);
  --color-btn-border: hsl(194, 67%, 56%);
  --color-checked-btn: hsl(194, 66%, 51%);
  --color-checked-border: hsl(194, 66%, 44%);
  --color-info-hover: hsla(188, 78%, 41%, 0.5);
}

.vid-container {
  width: fit-content;
  position: relative;
}

.video-area {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}

.btn-close-recorded {
  cursor:pointer;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  color: var(--color-white);
  border: 1px solid #AEAEAE;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: hsla(270, 1%, 38%, 0.7);
  font-size: 31px;
  font-weight: bold;
  position: absolute;
}

.btn-video-no-click {
  cursor: pointer;
  pointer-events: none;
}

.btn-video {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-video-info {
  color: var(--color-white);
  background-color: var(--color-btn);
  border-color: var(--color-btn-border);
  margin: 0 10px;
  cursor: pointer;
}

.btn-video-info-checked {
  color: var(--color-white);
  background-color: var(--color-checked-btn);
  border-color: var(--color-checked-border);
}

.btn-video-info:hover {
  box-shadow: 0 0 0 0.2rem var(--color-info-hover);
}

.btn-video-area {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  width: 80%;
}